#main{
    position:relative;
}
h3 {
    font-family: "Times New Roman", Times, serif;
    color: black;
}
p {
    font-family: "Times New Roman", Times, serif;
    color: black;
}
v1 {
    border-right: 3px solid black;
    height: 500px;
    left: 80%;
    top: 0;
}
.left {
    margin-left: 10px;
    float: left;
}
.right {
    float: right;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.collapsible {
    display: inline-block;
    background-color: white;
    color: white;
    cursor: pointer;
    padding: 5px;
    width: 5px;
    border: none;
    text-align: right;
    outline: none;
    font-size: 5px;
}
.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: white;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}